@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: "Winky Sans", sans-serif; /* Custom font */
}

.container {
  background-color: rgb(252, 252, 252); /* Light background */
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
  border-radius: 15px;
  max-width: fit-content;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Soft shadow */
}

.button {
  background-color: white;
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.clear {
  background-color: lightcoral; /* Clear button */
}

.modulus {
  background-color: lightskyblue; /* Modulus operator */
}

.operator {
  background-color: rgb(249, 249, 249); /* Operator buttons */
}

.button:nth-child(4),
.button:nth-child(8),
.button:nth-child(12),
.button:nth-child(16),
.button:nth-child(20) {
  background-color: #e2e2e2; /* Light gray for specific buttons */
}

.row {
  margin: 8px 0;
}

* {
  font-weight: bold; /* Bold text globally */
}

.row input {
  width: 291px;
  font-size: 20px;
  padding: 10px 10px 10px 0; /* Input padding */
  border: 2px solid black;
  border-radius: 5px;
  background-color: #e2e2e2; /* Input background */
  text-align: right;
  cursor: default;
}
